<footer>
    <div class="footer-container">
        <div class="footer-column">
            <a href="https://robot.meb.gov.tr/">
                <img src="images/robot-logo.png" alt="Footer Logo" class="footer-logo">
            </a>
            <p>Telefon: 0212-412-1212</p>
            <p>Email: <a href="mailto:destek@sunny.com">destek@sunny.com</a></p>
        </div>
        <div class="footer-column">
            <h3>BAĞLANTILAR</h3>
            <ul>
                <li><a href="https://www.meb.gov.tr/" target="_blank">MEB</a></li>
                <li><a href="https://tubitak.gov.tr/tr" target="_blank">TÜBİTAK</a></li>
                <li><a href="https://www.teknofest.org/tr/" target="_blank">TEKNOFEST</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>KURUMSAL</h3>
            <ul>
                <li><a href="https://www.kvkk.gov.tr/yayinlar/cerezlere_dair_aydinlatma_metni.pdf" target="_blank">KVKK METNİ</a></li>
                <li><a href="#">DİJİTAL GÖRSEL</a></li>
                <li><a href="#">YARIŞMA GÖSELLERİ</a></li>
                <li><a href="#">ULAŞIM</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>SOSYAL MEDYA</h3>
            <ul>
                <li><a href="https://www.instagram.com/sunny.turkiye/" target="_blank">Instagram</a></li>
                <li><a href="https://www.facebook.com/sunny.turkiye/" target="_blank" >Facebook</a></li>
                <li><a href="https://x.com/sunny_turkiye?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">Twitter</a></li>
                <li><a href="https://tr.linkedin.com/company/sunnyelektronik" target="_blank">LinkedIn</a></li>
                <li><a href="https://www.youtube.com/channel/UCGW9nzOkDTGYuYCgNl3Cp7A" target="_blank">YouTube</a></li>
            </ul>
        </div>
    </div>
    <p>&copy; 2024 Web Sayfası. Tüm hakları saklıdır.</p>
</footer>