<section id="home">
    <div class="slideshow-container">
        <div class="mySlides fade">
            <img src="images/event-image1.jpg" alt="Hoşgeldiniz Resmi" class="main-image">
        </div>
        <div class="mySlides fade">
            <img src="images/event-image2.jpg" alt="Hoşgeldiniz Resmi 2" class="main-image">
        </div>
        <div class="mySlides fade">
            <img src="images/event-image3.jpg" alt="Hoşgeldiniz Resmi 3" class="main-image">
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
</section>

<section id="announcements">
    <div class="announcements-header">
       <li><h1><a href="announcements.html" target="_blank">DUYURULAR</a></h1></li>
        <img src="images/announcement-icon.png" alt="Duyurular İkonu" class="announcement-icon">
    </div>
    <div class="announcements-container">
        <div class="announcement-box">Duyuru 1: Etkinliklerimiz yakında başlayacak!</div>
        <div class="announcement-box">Duyuru 2: Kayıt süreci devam ediyor.</div>
        <div class="announcement-box">Duyuru 3: Yeni projelerimiz hakkında bilgi alabilirsiniz.</div>
        <div class="announcement-box">Duyuru 4: Yarışma kuralları güncellendi.</div>
    </div>
</section>

<section id="news">
    <div class="news-header">
        <h1><a href="#haberler"></a>HABERLER</h1>
    </div>
    <div class="news-container">
        <div class="news-box">
            <img src="images/news-image1.jpg" alt="Haber 1" class="news-image">
            <p>Haber 1: Bu, ilk haberin açıklamasıdır. Detaylar burada verilecek.</p>
        </div>
        <div class="news-box">
            <img src="images/news-image2.jpg" alt="Haber 2" class="news-image">
            <p>Haber 2: Bu, ikinci haberin açıklamasıdır. Detaylar burada verilecek.</p>
        </div>
        <div class="news-box">
            <img src="images/news-image3.jpg" alt="Haber 3" class="news-image">
            <p>Haber 3: Bu, üçüncü haberin açıklamasıdır. Detaylar burada verilecek.</p>
        </div>
    </div>
</section>
