<section id="home">
    <div class="slideshow-container">
        <div class="mySlides fade">
            <img src="images/event-image1.jpg" alt="Hoşgeldiniz Resmi" class="main-image">
        </div>
        <div class="mySlides fade">
            <img src="images/event-image2.jpg" alt="Hoşgeldiniz Resmi 2" class="main-image">
        </div>
        <div class="mySlides fade">
            <img src="images/event-image3.jpg" alt="Hoşgeldiniz Resmi 3" class="main-image">
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
</section>

<section id="announcements">
    <div class="announcements-header">
        <h1><a href="announcements.html" target="_blank">DUYURULAR</a></h1>
        <img src="images/announcement-icon.png" alt="Duyurular İkonu" class="announcement-icon">
    </div>
    <div class="announcements-container">
        <div class="announcement-box">
            <a href="announcement1.html">
                <h3>Duyuru 1: Etkinliklerimiz yakında başlayacak!</h3>
            </a>
        </div>
        <div class="announcement-box">
            <a href="announcement2.html">
                <h3>Duyuru 2: Kayıt süreci devam ediyor.</h3>
            </a>
        </div>
        <div class="announcement-box">
            <a href="announcement3.html">
                <h3>Duyuru 3: Yeni projelerimiz hakkında bilgi alabilirsiniz.</h3>
            </a>
        </div>
    </div>
</section>

