<header>
    <div class="logo">
        <a href="https://robot.meb.gov.tr/">
            <img src="images/robot-logo.png" alt="Logo">
        </a>
    </div>
    
    <nav>
        <ul>
            <li><a href="https://hayrettinatmaca.org.tr/" target="_blank">Hayrettin Atmaca Vakfı</a></li>
            <li><a href="#home">Ana Sayfa</a></li>
            <li class="dropdown">
                <a href="#organization">Organizasyon</a>
                <ul class="dropdown-content">
                    <li><a href="instruction" target="_blank">Uygulama Kılavuzu</a></li>
                    <li><a href="eventstage" target="_blank">Etkinlik Aşamaları</a></li>
                    <li><a href="kvkk" target="_blank">KVKK Aydınlatma Metni</a></li>
                </ul>
            </li>
            
            <li class="dropdown">
                <a href="#categories">Kategoriler</a>
                <ul class="dropdown-content">
                    <li><a href="#freeproject" target="_blank">Serbest Proje</a></li>
                    <li><a href="#self-drive" target="_blank">Otonom Araç</a></li>
                    <li><a href="#iha" target="_blank">İnsansız Hava Aracı</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="archive">Arşiv</a>
                <ul class="dropdown-content">
                    <li><a href="2023" target="_blank">2023 Ağrı Yarışması</a></li>  
                    <li><a href="2022" target="_blank">2022 Ağrı Yarışması</a></li>
                </ul>
            </li>
            <li><a href="#contact" target="_blank">İletişim</a></li>
            <li><a href="login.html" target="_blank">Giriş</a></li>
            <li><a href="register.html" target="_blank">Kayıt Ol</a></li>

            <!-- Yeni eklenen Admin Paneli bağlantısı -->
            <li><a href="/components/admin-panel.html" target="_blank">Admin Paneli</a></li>
        </ul>
    </nav>
</header>
