<header>
    <div class="logo">
        <a href="https://robot.meb.gov.tr/">
            <img src="images/robot-logo.png" alt="Logo">
        </a>
    </div>
    
    <nav>
        <ul>
            <li><a href="https://hayrettinatmaca.org.tr/">Hayrettin Atmaca Vakfı</a></li>
            <li><a href="#home">Ana Sayfa</a></li>
            <li class="dropdown">
                <a href="#organization">Organizasyon</a>
                <ul class="dropdown-content">
                    <li><a href="instruction">Uygulama Kılavuzu</a></li>
                    <li><a href="eventstage">Etkinlik Aşamaları</a></li>
                    <li><a href="kvkk">KVKK Aydınlatma Metni</a></li>
                </ul>
            </li>
            
            <li class="dropdown">
                <a href="#categories">Kategoriler</a>
                <ul class="dropdown-content">
                    <li><a href="#freeproject">Serbest Proje</a></li>
                    <li><a href="#self-drive">Otonom Araç</a></li>
                    <li><a href="#iha">İnsansız Hava Aracı</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="archive">Arşiv</a>
                <ul class="dropdown-content">
                    <li><a href="2023">2023 Ağrı Yarışması</a></li>  
                    <li><a href="2022">2022 Erzurum Yarışması</a></li>
                </ul>
            </li>
            <li><a href="#contact">İletişim</a></li>
            <li><a href="login.html">Giriş</a></li>
            <li><a href="register.html">Kayıt Ol</a></li>
        </ul>
    </nav>
</header>
